// Private members
$_primary-colour-base: hue(#003F87);

$_accent-colour-base: hue(#006F7D); // FIXME – This should be an automatic hue rotation from the base colour !!!
$_gray-base: hue(#808080);
$_red-base: hue(#B22222); // FIXME – Link this chroma-wise to the primary-colour !!!

// FIXME: Create Maps of colours !!!

// Blue: Primary
$primary-colour-light: hsl($_primary-colour-base, 100%, 36%);
$primary-colour: hsl($_primary-colour-base, 100%, 26%);
$primary-colour-dark: hsl($_primary-colour-base, 100%, 16%);

// White: Secondary
$secondary-colour: #fefefe; // FIXME – Harmonise this !

// Green: Accent
$accent-colour: hsl($_accent-colour-base, 100%, 26%);

// Gray
$normal-grey: hsl($_gray-base, 0%, 50%);
$light-grey: hsl($_gray-base, 0%, 85%);
$bright-grey: hsl($_gray-base, 0%, 95%);

// Red
$red-normal: hsl($_red-base, 70%, 45%);
