// TODO take breakpoints from the Minerva project

$mobileS-breakpoint: 20rem;
$mobileM-breakpoint: 22.5rem;
$mobileL-breakpoint: 23.4375rem;
$mobileXL-breakpoint: 25.625rem;

$tablet-breakpoint: 40.625rem;

$laptopS-breakpoint: 64rem;
$laptopM-breakpoint: 80rem;
$laptopL-breakpoint: 90rem;
$laptopXL-breakpoint: 100rem;