@use "../config/breakpoints" as *;
@use "../config/variables" as *;

body {
  display: flex;
  flex-flow: column wrap;

  gap: $body_margin;

  margin: $body_margin 2.5vw;
  @media screen and (min-width: $mobileL-breakpoint) {
    margin: $body_margin 3.75vw;
  }
  @media screen and (min-width: $mobileXL-breakpoint) {
    margin: $body_margin 5vw;
  }
  @media screen and (min-width: $laptopXL-breakpoint) {
    margin: $body_margin auto;
    max-width: calc(#{$laptopXL-breakpoint} * 0.9);
  }

  & > * {
    width: 100%;

    // Handles sliding when the `header` hamburger icon is clicked
    transition: transform 300ms ease-out;
    transform: none;

    // Make sure the margins of (header, drawer) and (drawer, margin-right) match
    &.drawer-open {
      transform: translateX(calc(-#{$drawer-width} - 2.5vw));
      @media screen and (min-width: $mobileL-breakpoint) {
        transform: translateX(calc(-#{$drawer-width} - 3.75vw));
      }
      @media screen and (min-width: $mobileXL-breakpoint) {
        transform: translateX(calc(-#{$drawer-width} - 5vw));
      }
    }
  }
}

// Page structure
header {
  /*
    NOTE: If you ever need this again, then you'll need to do this: https://front-back.com/how-to-make-absolute-positioned-elements-overlap-their-overflow-hidden-parent/
          Essentially, add a middle parent/child and move "overflow: hidden;" to it
   */
  //position: relative;
  //z-index: 1;
}