* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: fit-content;
  min-width: 100%;
  min-height: 100%;
  background-color: lightblue; // FIXME: This should be based on the theme colours !!!
  background-size: cover;

  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100vh;
  display: grid;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul, ol {
  list-style: none;
}