$border-radius: 6px !default;
$border-radius-secondary: 10px !default;
$body_margin: 1.125rem;
$drawer-width: 15rem;

.this-year {} // NOTE: Handled by JavaScript
.academic-year {} // NOTE: Handled by JavaScript