@use "../themes/theme" as *;
@use "../config/variables" as *;
@use "../config/breakpoints" as *;
@use "../utils/mixins" as *;

.banner {
  display: flex;
  gap: 1rem;
  flex-flow: column nowrap;
  @media screen and (min-width: $tablet-breakpoint) {
    flex-flow: row nowrap;
  }

  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;

  width: 100%;
  max-width: $laptopXL-breakpoint;
  padding: 1rem 3rem;
  margin: auto;

  background-color: $accent-colour;
  color: $secondary-colour;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  p {
    text-align: justify;
  }

  // FIXME – This should be abstracted into a button component
  button {
    font-size: 1rem;

    @media screen and (min-width: $tablet-breakpoint) {
      align-self: center;
    }

    background-color: $secondary-colour;
    color: black;
    border-radius: calc(#{$border-radius} / 2);
    border: 0;
    padding: 0.5rem 3rem;

    &:hover {
      background-color: $light-grey;
    }

    &:active {
      background-color: $normal-grey;
    }
  }

  a {
    color: $light-grey;
    text-decoration: underline;
  }
}