@use "../themes/theme";
@use "../config/breakpoints";
@use "../config/variables" as *;

$gap-percentage-scalar: 0.05;
$gap-percentage: 100% * $gap-percentage-scalar;

:root {
  --columns: 1;
}

.cards {
  display: grid;
  grid-template: auto / repeat(var(--columns), 1fr);
  column-gap: $gap-percentage;

  @media screen and (min-width: breakpoints.$mobileL-breakpoint) {
    --columns: 2;

    div:nth-child(2n+1):nth-last-child(-n+2),
    div:nth-child(2n+1):nth-last-child(-n+2) ~ div {
      margin-bottom: revert;
    }
  }

  @media screen and (min-width: breakpoints.$tablet-breakpoint) {
    --columns: 3;

    div:nth-child(3n+1):nth-last-child(-n+3),
    div:nth-child(3n+1):nth-last-child(-n+3) ~ div {
      margin-bottom: revert;
    }
  }
}

.card {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: calc(100% * var(--columns) / (1.0 / #{$gap-percentage-scalar} - var(--columns) - 1));

  border-radius: $border-radius-secondary;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;  // https://getcssscan.com/css-box-shadow-examples - Option 32
  background-color: ghostwhite;

  img {
    width: 100%;

    border-top-left-radius: $border-radius-secondary;
    border-top-right-radius: $border-radius-secondary;
  }

  &-content {
    flex-grow: 1;

    display: flex;
    flex-flow: column nowrap;

    & > a:first-of-type {
      display: block;

      padding: 1.125rem;
      margin: auto;
      text-align: center;

      font-size: 1.25rem;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    & > p:first-of-type {
      font-size: 1.0625rem;
      text-align: justify;
      padding: 0 10% 10% 10%;

      height: 100%;
    }
  }
}