@use "../config/variables";
@use "../config/breakpoints" as *;
@use "../themes/theme" as th;
@use "../utils/mixins";

.carousel {

  position: relative;
  @include mixins.wallpaper();

  &-slide {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-active {
      display: block;
      position: absolute;
    }
  }

  &-navigation {
    position: absolute;
    z-index: 1;

    @include mixins.centre-me;

    i {
      color: th.$secondary-colour;
      border-radius: 50%;
    }

    &-arrows {
      top: 0;
      bottom: 0;

      width: 10%;
      min-width: fit-content;

      &-left {
        left: 0;
        border-top-right-radius: 100% 25%;
        border-bottom-right-radius: 100% 25%;
      }

      &-right {
        right: 0;
        border-top-left-radius: 100% 25%;
        border-bottom-left-radius: 100% 25%;
      }

      i.fa-circle {
        color: transparent;
      }

      // Mobile arrows
      @media screen and (max-width: $mobileXL-breakpoint) {
        &:hover {
          background-color: th.$primary-colour;
        }

        i {
          font-size: 2rem;
        }
      }

      // Desktop arrows
      @media screen and (min-width: $mobileXL-breakpoint + 0.0625rem) {
        &:hover > span > i.fa-circle {
          color: th.$primary-colour;
        }

        &:active > span > i.fa-circle {
          color: th.$primary-colour-dark;
        }

        span {
          font-size: 2rem;
        }
      }
    }

    &-dots {
      &-overlay {
        left: 0;
        right: 0;
        bottom: 0;

        &:hover {
          .carousel-navigation-dots-band {
            background-color: th.$primary-colour;
            border-top-left-radius: 25% 100%;
            border-top-right-radius: 25% 100%;
          }
        }
      }

      &-band {
        display: flex;
        flex-flow: row nowrap;
        place-content: center;

        width: fit-content;

        @include mixins.carousel_navigation_dots_band();
        @media screen and (min-width: $tablet-breakpoint) {
          @include mixins.carousel_navigation_dots_band(1.25rem, 1.375rem);
        }
        @media screen and (min-width: $laptopXL-breakpoint) {
          @include mixins.carousel_navigation_dots_band(1.375rem, 1.625rem);
        }
      }
    }
  }
}