@use "../themes/theme" as th;
@use "../config/variables";
@use "../utils/mixins";

$padding: 1rem;

.trigger {
  background: none;
  border: none;
  font-size: inherit;

  transform: none;
  transition: transform 300ms ease-out;

  &_active {
    transform: rotate(180deg);
  }
}

.drawer {

  display: flex;
  flex-flow: column nowrap;
  gap: $padding;

  position: fixed;
  top: 0;
  left: 100%;

  margin-top: variables.$body_margin;
  padding: $padding;

  background-color: th.$secondary-colour;
  border-radius: variables.$border-radius;

  width: variables.$drawer-width;
  max-height: calc(100% - 2 * #{variables.$body_margin});
  overflow-y: auto;

  &_header {

    display: flex;
    flex-flow: column nowrap;
    gap: $padding;

    h1 {
      @include mixins.secondary_button(variables.$border-radius, $padding * 0.5, 2px);
      text-align: center;
      font-size: $padding;
    }

    ul {
      display: flex;
      flex-flow: row nowrap;
      place-content: center;
      justify-content: space-around;
    }

    button {
      @include mixins.accent_button(variables.$border-radius-secondary, $padding);
    }
  }

  &_nav {
    display: flex;
    flex-flow: column nowrap;
    gap: $padding;

    &_item {
      @include mixins.primary_button(variables.$border-radius-secondary, $padding);

      display: flex;
      flex-flow: column nowrap;
      gap: $padding * 1.5;

      &_header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;

        & > * {
          color: inherit;
        }

        a {
          width: 100%;
        }
      }

      &_dropdown {
        display: none;

        &_open {
          display: grid;
          grid-auto-rows: 1fr;
          gap: $padding;
        }

        li {
          @include mixins.centre-me();
          @include mixins.secondary_button(variables.$border-radius, $padding * 0.5, 0);

          a { // FIXME – sync with the one above (L86)
            color: inherit;
            width: 100%;
          }
        }
      }
    }
  }
}