@use "../config/variables" as var;
@use "../themes/theme" as th;
@use "../config/breakpoints" as *;
@use "../utils/mixins";

$social-logo-diameter: 2.5rem;
$gap-padding: 1rem;

footer {
  display: grid;

  grid-template: 1fr auto auto / repeat(2, minmax(0, 1fr));
  grid-template-areas: "useful-links contact-us"
                       "connect-with-us connect-with-us"
                       "copyright-notice copyright-notice";
  gap: $gap-padding 0;
  @media screen and (min-width: $tablet-breakpoint) {
    grid-template: 1fr auto / 1fr 1fr 1fr;
    grid-template-areas: "useful-links contact-us connect-with-us"
                         "copyright-notice copyright-notice copyright-notice";
    padding-bottom: 1rem !important;
  }

  justify-items: center;
  align-items: stretch;

  background-color: th.$primary-colour;

  h3, a, a:visited, span {
    color: th.$secondary-colour;
    white-space: nowrap;
  }

  h3 {
    padding-bottom: calc(0.75 * #{$gap-padding});
    font-size: 1rem;
    @media screen and (min-width: $mobileM-breakpoint) {
      font-size: 1.25rem;
    }
  }

  a {
    line-height: 1.75;

    font-size: 0.875rem;
    @media screen and (min-width: $mobileM-breakpoint) {
      font-size: 1rem;
    }
  }

  .useful-links {
    grid-area: useful-links;
  }

  .contact-us {
    grid-area: contact-us;
    display: flex;
    flex-direction: column;

    ul {
      flex-grow: 1;
      display: grid;
      grid-template: auto auto 1fr / 1fr;
    }

    &-address {
      align-self: self-end;

      a {
        white-space: pre-line;

        @media screen and (max-width: $mobileS-breakpoint) {
          font-size: 0.75rem;
        }

        @media screen and (max-width: $mobileL-breakpoint) {
          line-height: 1.0;
        }
      }
    }
  }

  .cWu { // cWu == connect-with-us -- to avoid AdBlock
    grid-area: connect-with-us;

    h3 {
      text-align: center;
    }

    .SMLinks { // social-media -- to avoid AdBlocker
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      // TODO – Refactor into an @mixin to be consistent with the logos !!!
      gap: calc(#{$social-logo-diameter} / 2);
      @media screen and (min-width: $mobileM-breakpoint) {
        gap: calc(#{$social-logo-diameter} * 1.2 / 2);
      }
      @media screen and (min-width: $mobileXL-breakpoint) {
        gap: calc(#{$social-logo-diameter} * 1.3 / 2);
      }
      @media screen and (min-width: $tablet-breakpoint) {
        gap: calc(#{$social-logo-diameter} * 1.2 / 2);
      }
    }

    a {
      &:hover {
        opacity: 0.75;
      }

      &:active {
        opacity: 0.5;
      }

      // TODO – define @mixin for this thing!
      display: inline-block;

      &.f_b {
        $url: "/images/Logos/F_B.png";

        @include mixins.anchor-with-image($url, $social-logo-diameter);
        @media screen and (min-width: $mobileM-breakpoint) {
          @include mixins.anchor-with-image($url, $social-logo-diameter * 1.2);
        }
        @media screen and (min-width: $mobileXL-breakpoint) {
          @include mixins.anchor-with-image($url, $social-logo-diameter * 1.3);
        }
        @media screen and (min-width: $tablet-breakpoint) {
          @include mixins.anchor-with-image($url, $social-logo-diameter * 1.2);
        }
      }

      &.i_g {
        $url: "/images/Logos/I_G.png";

        @include mixins.anchor-with-image($url, $social-logo-diameter);
        @media screen and (min-width: $mobileM-breakpoint) {
          @include mixins.anchor-with-image($url, $social-logo-diameter * 1.2);
        }
        @media screen and (min-width: $mobileXL-breakpoint) {
          @include mixins.anchor-with-image($url, $social-logo-diameter * 1.3);
        }
        @media screen and (min-width: $tablet-breakpoint) {
          @include mixins.anchor-with-image($url, $social-logo-diameter * 1.2);
        }
      }

      &.t_t {
        $url: "/images/Logos/T_T.png";

        @include mixins.anchor-with-image($url, $social-logo-diameter);
        @media screen and (min-width: $mobileM-breakpoint) {
          @include mixins.anchor-with-image($url, $social-logo-diameter * 1.2);
        }
        @media screen and (min-width: $mobileXL-breakpoint) {
          @include mixins.anchor-with-image($url, $social-logo-diameter * 1.3);
        }
        @media screen and (min-width: $tablet-breakpoint) {
          @include mixins.anchor-with-image($url, $social-logo-diameter * 1.2);
        }
      }

      &.y_t {
        $url: "/images/Logos/Y_T.png";

        @include mixins.anchor-with-image($url, $social-logo-diameter);
        @media screen and (min-width: $mobileM-breakpoint) {
          @include mixins.anchor-with-image($url, $social-logo-diameter * 1.2);
        }
        @media screen and (min-width: $mobileXL-breakpoint) {
          @include mixins.anchor-with-image($url, $social-logo-diameter * 1.3);
        }
        @media screen and (min-width: $tablet-breakpoint) {
          @include mixins.anchor-with-image($url, $social-logo-diameter * 1.2);
        }
      }
    }
  }

  .copyright-notice {
    grid-area: copyright-notice;
    text-align: center;

    a, span {
      font-size: 1rem;
      @media screen and (min-width: $mobileM-breakpoint) {
        font-size: 1.125rem;
      }
    }
  }
}