@use "../config/variables";
@use "../themes/theme" as th;
@use "../utils/mixins";
@use "../config/breakpoints" as *;

.flag {
  display: inline-block;
  vertical-align: middle;

  border-radius: calc(#{variables.$border-radius} / 3);
  overflow: hidden;

  $width: 2.25rem;
  $height: calc(#{$width} / 3 * 2);

  &-ro {
    $url: "/images/Flags/RO.svg";
    @include mixins.anchor-with-image($url, $width, $height);
  }

  &-fr {
    $url: "/images/Flags/FR.svg";
    @include mixins.anchor-with-image($url, $width, $height);
  }

  &-en {
    $url: "/images/Flags/UK.svg";
    @include mixins.anchor-with-image($url, $width, $height);
  }
}

.header-container {
  border-radius: variables.$border-radius;
  overflow: hidden;

  a {
    text-decoration: none;
  }
}

.header-title {

  display: grid;
  grid-template: auto / 5fr 1fr 1fr;
  @media screen and (min-width: $laptopS-breakpoint) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  padding: 1rem;
  background-color: th.$primary-colour;
  color: th.$secondary-colour;

  button {
    color: th.$secondary-colour;
    margin: auto;

    @media screen and (min-width: $laptopS-breakpoint){
      display: none;
    }
  }

  &_universityLogo {
    $url: "/images/logo/500px/EN.png";
    $width: 150px;
    $height: 39.6px;

    @include mixins.anchor-with-image($url, $width, $height);
    @media screen and (min-width: $laptopS-breakpoint) {
      $scale: 1.25;
      @include mixins.anchor-with-image($url, $width * $scale, $height * $scale);
    }
  }

  &_department {
    display: none;
    @media screen and (min-width: $laptopS-breakpoint) {
      display: block;
    }

    font-size: 1.75rem;
    font-weight: normal;
  }

  &_language-flags {

    display: none;
    @media screen and (min-width: $laptopS-breakpoint) {
      display: grid;
      grid-template: auto / repeat(3, 1fr);
      gap: 1.25rem;
    }


    li {
      min-width: max-content;

      span {
        font-size: 1.25rem;
        color: th.$secondary-colour;
        vertical-align: sub;
        line-height: 1;
      }
    }
  }
}

.nav-container {

  display: none;
  @media screen and (min-width: $laptopS-breakpoint) {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  background-color: th.$secondary-colour;

  li {
    &:hover, &:focus-within {
      background-color: th.$light-grey;

      .dropdown {
        display: flex;
        flex-direction: column;
      }
    }

    &:active {
      background-color: th.$normal-grey;
    }

    a {
      display: block;
      color: th.$primary-colour;

      text-align: center;
      font-size: 1.25rem;
      font-weight: bold;
      padding: 1rem 0.75rem;
    }

    .dropdown {
      display: none;
      position: absolute;
      z-index: 1;
      background-color: th.$secondary-colour;
      border-bottom-left-radius: variables.$border-radius;
      border-bottom-right-radius: variables.$border-radius;
      overflow: hidden;

      box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;

      a {
        text-align: left;
        font-size: 1.0625rem;
        font-weight: normal;
        padding: 0.75rem;
      }
    }
  }
}