@use "../themes/_theme.scss" as *;
@use "../config/variables" as *;
@use "../config/breakpoints" as *;

// FIXME – This needs to be revisited !!!
// FIXME – The margins should be set independently of any global typography! The <ul> vs. <p> margin-top issue!
.info-box {

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold !important;
  }

  background-color: $light-grey;
  padding: 1.5rem;
  border-radius: $border-radius-secondary;

  // FIXME – Check if this is, on average, better
  text-align: justify;
}

.info-box-ukraine {
  $ukraine_flag_top_colour: #ffd700;
  $ukraine_flag_bottom_colour: #0057b7;

  border-radius: $border-radius-secondary;
  overflow: hidden;

  @media screen and (min-width: $tablet-breakpoint) {
    display: grid;
    grid-template: 1fr 1fr / auto;
  }

  div {
    padding: 1rem;
  }

  div:nth-child(1) {
    background-color: $ukraine_flag_top_colour;
    color: $ukraine_flag_bottom_colour;
  }

  div:nth-child(2) {
    background-color: $ukraine_flag_bottom_colour;
    color: white;

    a {
      color: $ukraine_flag_top_colour;
    }
  }

}