@use "../config/variables";
@use "../themes/theme" as th;

main {
  flex-grow: 1;

  display: flex;
  flex-flow: column nowrap;

  // FIXME – THIS NEEDS TO BE REPLACED !!!
  //gap: 2rem;

  background-color: th.$secondary-colour;
}