@use "../themes/theme" as *;
@use "../config/variables" as *;

$table-colour: $accent-colour !default;

.table_wrapper {
  overflow-x: auto;

  .table_swiper {
    display: none;
  }

  div.table_swiper_enabled {
    display: block;
    position: absolute;
    left: 60vw;
    z-index: 1;

    width: fit-content;
    color: white;
    background-color: blue;
    border-radius: 10px;
    padding: 2px 10px;
  }

  td.table_swiper_enabled, th.table_swiper_enabled {
    border-bottom: 3px solid blue;
  }
}

table {

  border-collapse: separate;
  border-spacing: 0;
  text-align: left;

  th, td {
    border: 1px solid $light-grey;
    padding: 1rem 1.125rem;
  }

  thead {
    th {
      background-color: $table-colour;
      color: $secondary-colour;
    }
  }

  tbody {
    tr {
      &:nth-of-type(even) {
        background-color: $bright-grey;
      }

      &:last-of-type td {
        border-bottom: 2px solid $table-colour;
      }
    }
  }

  tfoot {
    width: 100%;

    tr {
      color: $table-colour;
      font-weight: bold;
    }
  }

  // Border radii
  tr:first-of-type {
    th:first-of-type {
      border-top-left-radius: $border-radius-secondary;
    }

    th:last-of-type {
      border-top-right-radius: $border-radius-secondary;
    }
  }
}