<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="cookies(id)"
     th:id="${id}" class="banner">
    <p th:utext="#{cookies.message}"></p>
    <button onclick="closeBanner(this.parentElement.id, 'accepted')" th:utext="#{cookies.accept_button}"></button>
</div>