<footer xmlns:th="http://www.thymeleaf.org"
        th:fragment="footerFragment"
        class="container">
    <div class="useful-links">
        <h3 th:utext="#{footer.usefulLinks.columnTitle}"></h3>
        <ul>
            <li>
                <a class="inactive" href="#" th:utext="#{footer.usefulLinks.legalDocuments}"></a>
            </li>
            <li>
                <a class="inactive" href="#" th:utext="#{footer.usefulLinks.disclaimer}"></a>
            </li>
            <li>
                <a class="inactive" href="#" th:utext="#{footer.usefulLinks.copyrightNotice}"></a>
            </li>
            <li>
                <a class="inactive" href="#" th:utext="#{footer.usefulLinks.privacyPolicy}"></a>
            </li>
            <li>
                <a class="inactive" href="#" th:utext="#{footer.usefulLinks.siteMap}"></a>
            </li>
            <li>
                <a href="/about-us" th:utext="#{footer.usefulLinks.aboutUs}"></a>
            </li>
        </ul>
    </div>
    <div class="contact-us">
        <h3 th:utext="#{footer.contactUs.columnTitle}"></h3>
        <ul>
            <li>
                <a href="mailto:internationa@upit.ro">international@upit.ro</a>
            </li>
            <li>
                <a href="tel:+40348453108">+40 348 453 108</a>
            </li>
            <li class="contact-us-address">
                <!--/* FIXME – ALL OUTSIDE LINKS SHOULD HAVE THESE REL TAGS !!! */-->
                <a href="https://g.page/official_upit" target="_blank" rel="noopener noreferrer" th:utext="#{footer.contactUs.address}"></a>
            </li>
        </ul>
    </div>
    <div class="cWu">
        <h3 th:utext="#{footer.connectWithUs.columnTitle}"></h3>
        <div class="SMLinks">
            <!--/* FIXME – Should this be in multiple languages ? */-->
           <a class="f_b" href="https://www.facebook.com/InternationalRelations.CUPIT" target="_blank" rel="noopener noreferrer" aria-label="Visit our Facebook page"></a>
            <!--/* FIXME – Should this be in multiple languages ? */-->
           <a class="i_g" href="https://www.instagram.com/official.cupit/" target="_blank" rel="noopener noreferrer" aria-label="Visit our Instagram Page"></a>
            <!--/* FIXME – Should this be in multiple languages ? */-->
           <a class="t_t" href="https://twitter.com/official_cupit" target="_blank" rel="noopener noreferrer" aria-label="Check us out on Twitter"></a>
            <!--/* FIXME – Should this be in multiple languages ? */-->
           <a class="y_t" href="https://www.youtube.com/c/UniversitateadinPitesti" target="_blank" rel="noopener noreferrer" aria-label="Watch our videos on YouTube"></a>
        </div>
    </div>
    <div class="copyright-notice">
        <span>&copy;</span>
        <a href="mailto:mihaicristian.oltean98@gmail.com">Mihai-Cristian Olteanu</a>
        <span th:utext="'2020 – ' + ${#dates.year(#dates.createNow())} + '. All rights reserved.'"></span>
    </div>

    <!--/* NOTE: Facebook Messenger Chat plugin Code (Activated only with production profile enabled) */-->
    <div th:if="${#arrays.contains(@environment.getActiveProfiles(), 'prod')}" id="fb-root"></div>
    <div th:if="${#arrays.contains(@environment.getActiveProfiles(), 'prod')}" id="fb-customer-chat" class="fb-customerchat"></div>
    <script th:if="${#arrays.contains(@environment.getActiveProfiles(), 'prod')}">
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "1697874697151999");
        chatbox.setAttribute("attribution", "biz_inbox");
        window.fbAsyncInit = function() {
            FB.init({
                xfbml            : true,
                version          : 'v10.0'
            });
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

</footer>