<noscript xmlns:th="http://www.thymeleaf.org"
     th:fragment="google-analytics">
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-596FPCN"
            height="0" width="0" style="display:none;visibility:hidden">
    </iframe>
</noscript>