<head xmlns:th="http://www.thymeleaf.org"
      th:fragment="headFragment(title, description)">

    <script src="/js/google-analytics.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <title th:utext="${title}"></title>
    <meta name="description" th:content="${description}">

    <!--/* FIXME – Can we get the original SVG file for this ? */-->
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/logo_192px_white.png">
    <link rel="manifest" href="/manifest.json">

    <link rel="stylesheet" href="/css/main.css">
    <script type="module" src="/js/main.js"></script>
    <script src="https://kit.fontawesome.com/0538c0cd1f.js" crossorigin="anonymous"></script>

    <meta name="creator" content="The University Centre of Pitești">
    <meta name="author" content="Mihai-Cristian Olteanu <mihaicristian.olteanu98@gmail.com>">
    <meta name="designer" content="Mihai-Cristian Olteanu <mihaicristian.olteanu98@gmail.com>">
    <meta name="robots" content="index, follow">
    <meta name="rating" content="safe for kids">
    <meta name="facebook-domain-verification" content="dd4o6vhuzjywiig7ffsf7mba5rmlds" />

    <!-- FIXME - This colour should be taken from the model ! -->
    <meta name="theme-color" content="#003F87" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
</head>