<header xmlns:th="http://www.thymeleaf.org"
        th:fragment="headerFragment"
        class="header-container">
    <div class="header-title">
        <a class="header-title_universityLogo" href="/" aria-label="Logo of The University Centre of Pitești"></a>
        <button class="trigger" onclick="toggleDrawer()">
            <i class="fas fa-search fa-fw fa-lg" aria-hidden="true"></i>
        </button>
        <button class="trigger" onclick="toggleDrawer()">
            <i class="fas fa-bars fa-fw fa-lg" aria-hidden="true"></i>
        </button>

        <h1 class="header-title_department" th:utext="#{header.title.departmentName}"></h1>
        <ul class="header-title_language-flags">
            <li>
                <span>EN</span>
                <a class="flag flag-en" href="?lang=en" aria-label="View this website in English"></a>
            </li>
            <li>
                <span>FR</span>
                <a class="flag flag-fr" href="?lang=fr" aria-label="Voyez ce site en français"></a>
            </li>
            <li>
                <span>RO</span>
                <a class="flag flag-ro" href="?lang=ro" aria-label="Vizualizați acest site în limba română"></a>
            </li>
        </ul>
    </div>

    <nav>
        <ul class="nav-container">
            <li th:each="menu : ${menus}" th:with="url=${menu.value.key},submenus=${menu.value.value}">
                <a th:classappend="${url} != '#' ? '' : inactive"
                   th:href="${url}"
                   th:utext="#{__${menu.key}__}">
                </a>

                <ul class="dropdown" th:if="${submenus != null and !#maps.isEmpty(submenus)}">
                    <li th:each="submenu : ${submenus}" th:with="submenuURL=${submenu.value}">
                        <a th:classappend="${submenuURL} != '#' ? '' : inactive"
                           th:href="${submenuURL}"
                           th:utext="#{__${menu.key}__ + '.' + __${submenu.key}__}">
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

<!--        Google Search Engine-->
<!--        FIXME – Needs more work-->
<!--        <script async src="https://cse.google.com/cse.js?cx=316a4e98de2a94db0">-->
<!--        </script>-->
<!--        <div class="gcse-search"></div>-->
    </nav>

</header>

<div xmlns:th="http://www.thymeleaf.org"
     th:fragment="drawer"
     class="drawer">
    <div class="drawer_header">
        <h1 th:utext="#{header.title.departmentName}"></h1>
        <ul>
            <li>
                <a class="flag flag-en" href="?lang=en" aria-label="View this website in English"></a>
            </li>
            <li>
                <a class="flag flag-fr" href="?lang=fr" aria-label="Voyez ce site en français"></a>
            </li>
            <li>
                <a class="flag flag-ro" href="?lang=ro" aria-label="Vizualizați acest site în limba română"></a>
            </li>
        </ul>
        <button class="trigger" onclick="toggleDrawer()">
            <i class="fas fa-xmark fa-lg"></i> Close Menu
        </button>
    </div>
    <hr>
    <ul class="drawer_nav">
        <li class="drawer_nav_item"
            th:each="menu : ${menus}" th:with="url=${menu.value.key},submenus=${menu.value.value}">
            <div class="drawer_nav_item_header">
                <a th:classappend="${url} != '#' ? '' : inactive"
                   th:href="${url}"
                   th:utext="#{__${menu.key}__}">
                </a>
                <button th:if="${submenus != null and !#maps.isEmpty(submenus)}"
                        class="trigger" onclick="toggleSubmenu(this)">
                    <i class="fas fa-lg fa-angle-down"></i>
                </button>
            </div>
            <ul th:if="${submenus != null and !#maps.isEmpty(submenus)}"
                class="drawer_nav_item_dropdown">
                <li th:each="submenu : ${submenus}" th:with="submenuURL=${submenu.value}">
                    <a th:classappend="${submenuURL} != '#' ? '' : inactive"
                       th:href="${submenuURL}"
                       th:utext="#{__${menu.key}__ + '.' + __${submenu.key}__}">
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>