@use "../config/breakpoints" as *;
@use "../config/variables" as *;
@use "../themes/theme" as *;

@mixin container($padding: 1rem) {
  border-radius: $border-radius;

  padding: $padding;
  @media screen and (min-width: $tablet-breakpoint) {
    padding: 2 * $padding;
  }
}

@mixin wallpaper() {
  overflow: hidden;
  border-radius: $border-radius;

  aspect-ratio: 4 / 3;
  @media screen and (min-width: $mobileXL-breakpoint) {
    aspect-ratio: 1.5;
  }
  @media screen and (min-width: $tablet-breakpoint) {
    aspect-ratio: 2.25;
  }
  @media screen and (min-width: $laptopS-breakpoint) {
    aspect-ratio: 3.16;
  }
}

@mixin anchor-with-image($url, $width, $height: $width) {
  width: $width;
  height: $height;
  background: {
    image: url($url);
    repeat: no-repeat;
    size: 100% 100%;
  }
}

@mixin carousel_navigation_dots_band($font-size: 1.125rem, $gap-padding: 1.125rem) {
  font-size: $font-size;
  gap: $gap-padding;
  padding: calc(#{$gap-padding} * 0.5) calc(#{$gap-padding} * 1.5);
}

@mixin font-and-margin($font-size: 1.125rem) {
  font-size: $font-size;
  margin-top: 0.75 * $font-size;
}

@mixin centre-me {
  display: grid;
  place-items: center;
  text-align: center;
}

@mixin note($colour: $primary-colour) {
  font-weight: bold;
  color: $colour;
}

@mixin primary_button($radius: $border-radius, $padding: 1rem)  {
  background-color: $primary-colour;
  color: $secondary-colour;

  border-radius: $radius;
  padding: $padding;
}

@mixin secondary_button($radius: $border-radius, $padding: 1rem, $border_px: thin) {
  background-color: $secondary-colour;
  color: $primary-colour;

  border-radius: $radius;
  padding: $padding;
  border: $border_px solid $primary-colour;
}

@mixin accent_button($radius: $border-radius, $padding: 1rem) {
  background-color: $accent-colour;
  color: $secondary-colour;

  border-radius: $radius;
  padding: $padding;
}
