<!DOCTYPE html>
<!--suppress HtmlRequiredAltAttribute -->
<!--suppress HtmlRequiredTitleElement -->
<html lang="en-GB" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/_head.html :: headFragment(${article.title}, '')"></head>
<body>
    <div th:replace="fragments/_google-analytics.html :: google-analytics"></div>

    <div th:replace="fragments/_header.html :: drawer"></div>

    <header th:replace="fragments/_header.html :: headerFragment"></header>

    <!--/*@thymesVar id="carousel" type="com.fasterxml.jackson.databind.JsonNode"*/-->
    <div th:if="${#bools.isTrue(carousel.get('enable').booleanValue())}" th:with="slides = ${carousel.get('slides')}" class="carousel">
        <!--/* NOTE: First slide must be marked as active */-->
        <th:block th:each="image, iter: ${slides}" th:with="URL=${image.textValue()}, index=${iter.index} + 1">
            <div class="carousel-slide" th:classappend="${index} == 1 ? 'carousel-slide-active' : ''">
                <img th:src="@{${URL}}" th:alt="'Slide ' + ${index}">
            </div>
        </th:block>

        <!--/* Navigation Arrow Links */-->
        <a class="carousel-navigation carousel-navigation-arrows carousel-navigation-arrows-left" href="#" onclick="prevSlide()" aria-label="Previous Slide">
            <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-chevron-left fa-stack-1x"></i>
            </span>
        </a>
        <a class="carousel-navigation carousel-navigation-arrows carousel-navigation-arrows-right" href="#" onclick="nextSlide()" aria-label="Next Slide">
            <span class="fa-stack">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-chevron-right fa-stack-1x"></i>
            </span>
        </a>

        <!--/* Navigation Dots Links */-->
        <div class="carousel-navigation carousel-navigation-dots-overlay">
            <div class="carousel-navigation-dots-band">
                <a th:each="i: ${#numbers.sequence(1, slides.size())}"
                   class="carousel-navigation-dots-dot" href="#" th:onclick="'slidesDispatch(' + ${i} + ')'" th:attr="aria-label='Go to Slide ' + ${i}">
                    <i class="fa-circle" th:classappend="${i} == 1 ? 'fas' : 'far'"></i>
                </a>
            </div>
        </div>
    </div>

    <!--/*@thymesVar id="wallpaper" type="com.fasterxml.jackson.databind.JsonNode"*/-->
    <div th:if="${#bools.isTrue(wallpaper.get('enable').booleanValue())}"
         th:with="URL = ${wallpaper.get('URL').textValue()}, alt = ${wallpaper.get('alt').textValue()}"
         class="wallpaper">
        <img th:src="@{${URL}}" th:alt="${alt}">
    </div>

    <main class="container">

        <h1 class="page-title" th:utext="${article.title}"></h1>

        <div class="page-body" th:utext="${article.content_html}"></div>
    </main>

    <footer th:replace="fragments/_footer :: footerFragment"></footer>

    <!--/*@thymesVar id="cookie_consent" type="javax.servlet.http.Cookie"*/-->
    <th:block th:if="${cookie_consent.getValue() != 'accepted'}">
        <div th:replace="fragments/_cookies :: cookies(${cookie_consent.getName()})"></div>
    </th:block>
</body>
</html>