@use "../themes/theme" as *;
@use "../config/variables" as *;
@use "../utils/mixins" as *;
@use "../config/breakpoints" as *;

// FIXME – Add variant for tag/classes

.note {
  @include note();

  &-important {
    @include note($red-normal);
  }
}

.inactive {
  text-decoration: line-through !important;
}

.page-title {
  text-align: center;
  font-weight: normal;

  font-size: 2.625rem;
  margin-bottom: 0.5rem;
}

.page-body {
  // FIXME – This must be removed ! Each tag has its own requirements !
  & > * {
    @include font-and-margin();

    // This guards against extra margins being added between the title and the body
    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }

  & > img {

    border-radius: $border-radius-secondary;

    width: 100%;
    aspect-ratio: 4 / 3;
    @media screen and (min-width: $tablet-breakpoint) {
      width: 55%;

      $margin: 2rem;
      &:nth-of-type(2n) {
        float: right;
        margin-left: $margin;
      }

      &:nth-of-type(2n + 1) {
        float: left;
        margin-right: $margin;
      }
    }
    
    @media screen and (min-width: $laptopS-breakpoint) {
      width: 40%;
      aspect-ratio: 16 / 9;
    }
  }

  a {
    color: $primary-colour-light; // FIXME: missing :visited colour (and associated :<*>) !!!
    text-decoration: underline;
  }

  h1 {
    // NOTE: Clear the float property from any previous images
    clear: both;

    font-weight: normal;
    color: $primary-colour;

    $font-size: 2rem;
    font-size: $font-size;
    padding-top: $font-size * 0.75;
    margin-top: 0; // NOTE – This is needed because of the "& > *" styles
  }

  h2 {
    @include font-and-margin(1.5rem);
  }

  h3 {
    @include font-and-margin(1.25rem);
  }

  h4 {
    @include font-and-margin(1.125rem);
  }

  p, .paragraph {
    line-height: 1.3;
    text-align: justify;
  }

  ul, ol {
    margin-left: 2.5rem;
    @include font-and-margin();
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  // FIXME – This is not all right...
  li {
    ul, ol {
      margin-top: 0;
    }
  }
}

.h1-title {
  @include font-and-margin(1.5rem);
}

.boxes {

  display: grid;
  gap: 1rem;

  grid-auto-rows: 1fr;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  @media screen and (min-width: $mobileXL-breakpoint) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (min-width: $tablet-breakpoint) {
    grid-template-columns: repeat(3, 1fr);
  }

  a {
    padding: 1.25rem;
    @media screen and (min-width: $mobileXL-breakpoint) {
      padding: 1.5rem; // FIXME -- check on Galaxy S21
    }
    @media screen and (min-width: $tablet-breakpoint){
      padding: 1.75rem; // FIXME -- check on iPad
    }
    @media screen and (min-width: $laptopS-breakpoint) {
      padding: 2.5rem;
    }

    @include centre-me;

    border-radius: $border-radius;
    background-color: $primary-colour;
    color: $secondary-colour;
  }
}